<div class='addrecipe'>
  <div class='recipebox'>  
    <h1>Please Add Your New Recipe</h1>
  </div>
</div>

<div class='newrecipe'>
  <%= render 'form' %>


  <p><%= link_to "Back to List", recipes_path %></p>

</div>